{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>This website was created to make football championships organization easier. You can sign up your team and check for the results.</p>
<p>Joining the competition requires sending the join request. That means you need to type all players names and basic team informations to special form.</p>
<p>Then your team will be paired with another team. After that, you can simply wait and play!</p>
<p>Also you can check for results and stats. Have fun!</p>

{% endblock %}
