{% extends "app/layout.html" %}

{% block content %}



{% block title %}
<center>
<h2>Calendar</h2>
</center>
{% endblock %}

<!-- Editable calendar -->
{{ calendar }}

<center>
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
        {% if user.is_authenticated %}
        <a class="btn btn-info right" href="{% url 'event_new' %}"> New Event </a>
        {% endif %}
    </div>
</center>



{% endblock %}