{% extends "app/layout.html" %}

{% block content %}

{% if user.is_authenticated %}

{% block title %}
<h2>Calendar</h2>
{% endblock %}

<!-- Editable calendar -->
{{ calendar }}


<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
</div>



{% else %}
<!-- Public calendar, that the outsiders can see -->

<h2>Calendar</h2>

<p>WIP.</p>


{% endif %}

{% endblock %}