{% extends "app/layout.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="jumbotron">
    <h2>Welcome, {{user.username}}</h2>
    <p class="lead">Our website was created to make soccer fans lives easier. You want to organize championship? You want to join it?
    Or simply check the results of the games? Join us now!</p>
</div>

{% else %}
<div class="jumbotron">
    <h1>SoccerPlanner</h1>
    <p class="lead">Our website was created to make soccer fans lives easier. You want to organize championship? You want to join it?
    Or simply check the results of the games? Join us now!</p>
    {% if user.is_authenticated %}
    {% else %}
    <p><a href="{% url 'accountcreate' %}" class="btn btn-primary btn-large">Create account &raquo;</a>
    <a href="{% url 'login' %}" class="btn btn-primary btn-large">Log in &raquo;</a></p>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We want people to help us creating this website. Only using it the right way can make it useful.
            Whatever you want to do, plan it. Log in and have fun of participating sport world.
        </p>
        <p><a class="btn btn-default" href="http://soccerpb.azurewebsites.net/login/">Learn more &raquo;</a></p>
    </div>
    <!--
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div> 
    -->
</div>
{% endif %}
{% endblock %}
