{% extends "app/layout.html" %}

{% block content %}

{% if user.is_authenticated %}
<center>
<h2>{{ title }}</h2>
<link rel="stylesheet" type="text/css" href="../../static/app/content/own.css">
<div class= "button2">
    <center><p><a class="button2" href="{% url 'stagecreate' %}">Stage manager</a></p></center>
        <center><p><a class="button2" href="{% url 'teamcreate' %}">Squad and Team manager</a></p></center>
            <center><p><a class="button2" href="{% url 'tournamentcreate' %}">Tournament manager</a></p></center>
                <center><p><a class="button2" href="{% url 'playercreate' %}">Player manager</a></p></center>
                    <center><p><a class="button2" href="{% url 'matchcreate' %}">Match manager</a></p></center>

{% else %}

<h3>Your are not logged!</h3>
<li><a href="{% url 'login' %}">Log In</a></li>

{% endif %}

{% endblock %}
