{% extends "app/layout.html" %}

{% block content %}

{% if user.is_authenticated %}

<h2>{{ title }}</h2>
<br>

    <div class="row">
        <div class="col-sm-6">
            <h4><br /><br />Manage your matches here</h4>
            <hr />
            <div class="clearfix">
                <a href="{% url 'matchcreate' %}" class="btn btn-info right"> Manage matches </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4><br /><br />Manage your players here</h4>
            <hr />
            <div class="clearfix">
                <a href="{% url 'playercreate' %}" class="btn btn-info right"> Manage players </a>
            </div>
        </div>
    </div>

    {% else %}

    <h3>Your are not logged!</h3>
    <li><a href="{% url 'login' %}">Log In</a></li>

    {% endif %}

    {% endblock %}
