{% extends "app/layout.html" %}

{% block content %}

{% if user.is_authenticated %}

<center><h2>{{ title }}</h2></center>
<br>

<div class="row">
    <div class="col-sm-4">
        <h4>Add your player here</h4>
        <hr />
        <form method="post">
            {% csrf_token %}
            {% for field in player_form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: black">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" id = "button3">Add</button>
        </form>

    </div>
    <div class="col-sm-4">

        <h4>Choose player and edit: </h4>
        <hr />
        <form method="post">
            {% csrf_token %}
            {% for field in playeredit_form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: black">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" id = "button3">Update</button>
        </form>

    </div>
    <div class="col-sm-4">

        <h4>Choose and delete: </h4>
        <hr />
        <form method="post">
            {% csrf_token %}
            {% for field in playerdelete_form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: black">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <p style="color:red;">Remember - there is no return after clicking delete!</p>
            <button type="submit" id = "button3" style="color:red;">Delete</button>
        </form>
    </div>
</div>
</br>
<center><div class="button1 b1">
    <a class="button1" href="{% url 'manage' %}">Return to manage </a></center>

    {% else %}

    <h3>Your are not logged!</h3>
    <li><a href="{% url 'login' %}">Log In</a></li>

    {% endif %}

    {% endblock %}
