{% extends "app/layout.html" %}

{% block content %}

{% if user.is_authenticated %}

<form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Delete stage</button>
    <div class="clearfix">
        <br>
        <a class="btn btn-info right" href="{% url 'manage' %}"> Return to manage </a>
    </div>
        
{% else %}

<h3>Your are not logged!</h3>
<li><a href="{% url 'login' %}">Log In</a></li>

{% endif %}

{% endblock %}